*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    position: relative;
    min-height: 100vh;
    background: white;
}
.image-gallery
{
    /* width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: center;
    gap:15px;
    padding: 20px;
    /* border: 2px solid black; */

}
.image{
width:500px;
position: relative;
/* border: 4px solid black; */
}
img{
    width: 100%;
    display: block;
    margin: auto;
}
.content{
width:100%;
height:100%;
top:0;
left:0;
position: absolute;
background: rgb(94, 8, 8);
display: flex;
justify-content: center;
align-items: center;
opacity: 0;
}
.content h1{
    font-size: 25px;
    color: wheat;
    font-weight: 700;
    display: block;
}
.content p{
    font-size: 20px;
    color: wheat;
    font-weight: 500;
}


.content:hover{
    opacity: 1;
    box-shadow: 2px 2px 8px 2px grey;
}
.container .popup-image{
    position:absolute;
    top:0;left:0;
    background:rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}
.container .popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    color:white;
    font-weight: bolder;
    z-index: 100;
    font-size: 50px;
}
.container .popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 4px solid white;
    border-radius: 5px;
    width: 600px;
    object-fit: cover;
    max-width: 100%; 
}
.section-title {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

@media (max-width: 768px) {
    .container .popup-image img {
        width: 90%; 
        max-width: 90%;
    }
    
}
 

